*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  background: #263238;
}
.container{
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #E0E0E0;
  width: 300px;
  text-align: center;
}
h1{
  margin-bottom: 20px;
  color: white;
}
.input-container{
  display: flex;
  justify-content: space-between;
}
input[type="text"]{
  background: #263238;
  color: white;
  width: 70%;
  padding: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 6px;
}
button{
  width: 25%;
  padding: 10px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 3px;
  cursor: pointer;
}
button:hover{
  background: #218838;
}
ul{
  list-style-type: none;
  padding: 0;
}
li{
  background: #263238;
  color: white;
  padding: 10px;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
li.completed{
  text-decoration: line-through 2px black;
}
li button{
  background: #dc3545;
  border-radius: 10px;
  width: 9%;
}
li button:hover{
  background: #c82333;
}
li .complete-btn {
  background: #28a745;
  margin-right: -180px;
}
li .complete-btn:hover {
  background: #218838;
}
